<div class="symptom-form-container">
  <h2>Soumettre un Symptom</h2>

  <!-- Si le symptôme a été soumis, afficher un message de succès -->
  <div *ngIf="symptomSubmitted" class="success-message">
    <p>Symptôme soumis avec succès !</p>
  </div>

  <!-- Formulaire de symptôme -->
  <form [formGroup]="symptomForm" (ngSubmit)="submitSymptom()">

    <label for="symptom">Symptôme:</label>
    <input id="symptom" formControlName="symptom" placeholder="Entrez votre symptôme" required>
    <div *ngIf="symptomForm.get('symptom')?.invalid && symptomForm.get('symptom')?.touched" class="error">
      Le symptôme est requis.
    </div>

    <label for="comments">Commentaires:</label>
    <textarea id="comments" formControlName="comments" placeholder="Ajoutez des commentaires (optionnel)"></textarea>

    <button type="submit" [disabled]="symptomForm.invalid">Soumettre</button>
  </form>
</div>
