<form [formGroup]="diabeteTypeForm" (ngSubmit)="enregistrerType()" [ngClass]="{'disabled-form': diagnosticReportExists}">
  <label for="diabeteType">Votre type de diabète :</label>
  <select id="diabeteType" formControlName="diabeteType" [attr.disabled]="diagnosticReportExists ? true : null">
    <option value="type1">Type 1</option>
    <option value="type2">Type 2</option>
  </select>

  <!--button type="submit" [attr.disabled]="diagnosticReportExists ? true : null">Enregistrer</button-->
</form>

<!-- Optionnel : Ajouter un message pour informer l'utilisateur -->
<div *ngIf="diagnosticReportExists">
  <p>Votre type de diabète est déjà enregistré.</p>
</div>
