<div class="care-plan-container">
    <h2>Conduite à Tenir</h2>
  
    <div *ngIf="!filteredCarePlan.length" class="no-data">
      <p>Aucune recommandation n'est actuellement à suivre</p>
    </div>
  
    <div *ngIf="filteredCarePlan.length" class="care-plan-card">
      <p><strong>Veuillez suivre les recommandations suivantes :</strong></p>
      <p class="description-text">
        {{ filteredCarePlan[filteredCarePlan.length - 1]?.description || 'Pas de description disponible' }}
      </p>
    </div>
  </div>
  