<div class="medication-request-container">
    <div *ngIf="filtredMedicationRequest && filtredMedicationRequest.length > 0" class="medication-request-card">
      <p><strong>Veuillez suivre le traitement suivant :</strong></p>
      <p class="note-text" *ngIf="filtredMedicationRequest[filtredMedicationRequest.length - 1]?.note && filtredMedicationRequest[filtredMedicationRequest.length - 1].note.length">
        {{ filtredMedicationRequest[filtredMedicationRequest.length - 1].note[0]?.text || 'Pas de note disponible' }}
      </p>
    </div>
  
    <div *ngIf="!filtredMedicationRequest || filtredMedicationRequest.length === 0" class="no-data">
      <p>Aucune prescription n'est disponible.</p>
    </div>
  </div>
  