h1 {
    font-family: 'Montserrat', sans-serif; /* Une police sans-serif moderne */
    font-size: 3.5rem; /* Taille de police plus grande pour l'impact */
    font-weight: 700; /* Gras pour mettre en valeur */
    color: #333; /* Couleur de texte sombre */
    text-align: center; /* Centrer le texte */
  
    /* Effet de dégradé subtil */
    background: linear-gradient(to right, #f0f0f0, #101010);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  


  }
html{
    background-color: #333;
    }
  @keyframes backgroundAnimation {
    0% { background-color: #f0f0f0; }
    50% { background-color: #e0e0e0; }
    100% { background-color: #f0f0f0; }

  }
  .accueil {
    display: flex; /* Transforme .accueil en un conteneur flexible */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
height: 250px;
  }
  .accueil img{
    width: 250px;
    height: 250px;
  }