<div class="medication-form-container">
  <h1>Enregistrement du Médicament</h1>
  <form [formGroup]="medicationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="medication">Médicament</label>
      <input id="medication" formControlName="medication" placeholder="Nom du médicament">
      <div *ngIf="medicationForm.get('medication')?.invalid && medicationForm.get('medication')?.touched">
      </div>
    </div>
    <!--button type="submit" [disabled]="medicationForm.invalid">Enregistrer</!--button-->
  </form>
</div>
